.addTask {
    display: flex;
    cursor: pointer;
    gap: 1rem
}
.addTask:hover .addIcon {
    color: #fff;
    background-color: #3d3d3d;
    border-radius: 50%;
}
.btn {
    font-size: 0.75rem;
    padding: 5px 10px;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
}
.addTaskBtn {
    background-color: #3d3d3d;
    color: #fff;
}
.addTaskBtn:disabled {
    cursor: not-allowed;
    opacity: 0.6;
}
.cancelBtn:disabled {
    opacity: 0.8;
    cursor: not-allowed;
}